<footer>
    
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/people/Somya-Sehgal/pfbid02GJHh1dfSYy34EBjf6CxHj1XBGv5wmTikrkbamKuBQm52gnHg4q9TBBayVmipzGvYl/?mibextid=ZbWKwL"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/somyasehgaliitr/?igsh=MTNlb2U2Mjd3ZHYx"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/somya-sehgal-159762292/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div>IITR Eats private limited</div>
        <br>
        
    </div>
    <div class="f-info">
    <p>conatct no. of owners-9145938795</p>
    <a href="tel:9145938795"><button style="background-color: white;color:blue;border-radius: 5px;opacity: 0.9;">call </button></a>
</div>
</footer>